@font-face {
  font-family: "raiffeisen-pfp-iconset-01-15";
  src: url(raiffeisen-pfp-iconset-01-15/raiffeisen-pfp-iconset-01-15.eot);
  src: url(raiffeisen-pfp-iconset-01-15.eot?#iefix) format("embedded-opentype"),
    url(raiffeisen-pfp-iconset-01-15.woff) format("woff"),
    url(raiffeisen-pfp-iconset-01-15.ttf) format("truetype"),
    url(raiffeisen-pfp-iconset-01-15.svg#) format("svg");
  font-weight: normal;
  font-style: normal;
}

.library-raiffeisen-pfp-iconset-01-15 [class^="icon-"],
.library-raiffeisen-pfp-iconset-01-15 [class*="icon-"] {
  font-family: "raiffeisen-pfp-iconset-01-15", serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-acquired-contracts:before {
  content: "\e397";
}
.icon-alert-circle:before {
  content: "\e9bf";
}
.icon-all-accounts:before {
  content: "\e94e";
}
.icon-altersvorsorge:before {
  content: "\ea03";
}
.icon-analysis:before {
  content: "\e95a";
}
.icon-arrow-circle-down:before {
  content: "\e95b";
}
.icon-arrow-circle-right:before {
  content: "\e95c";
}
.icon-arrow-down:before {
  content: "\e9a1";
}
.icon-arrow-down2:before {
  content: "\e938";
}
.icon-arrow-left-circle:before {
  content: "\e9b2";
}
.icon-arrow-left-circle-filled:before {
  content: "\e9b3";
}
.icon-arrow-left-right:before {
  content: "\e90c";
}
.icon-arrow-right:before {
  content: "\e90d";
}
.icon-arrow-send:before {
  content: "\e92d";
}
.icon-arrow-up:before {
  content: "\e939";
}
.icon-assigment:before {
  content: "\e95d";
}
.icon-assignment:before {
  content: "\e93a";
}
.icon-attachment:before {
  content: "\e90e";
}
.icon-attention-alert:before {
  content: "\e97e";
}
.icon-authorized-to-sign:before {
  content: "\e948";
}
.icon-back-to-elba:before {
  content: "\e985";
}
.icon-balloon:before {
  content: "\e95e";
}
.icon-banken2:before {
  content: "\ea04";
}
.icon-bankomat-ausfallseite:before {
  content: "\e9dc";
}
.icon-bar-chart:before {
  content: "\e9c0";
}
.icon-block-presentation:before {
  content: "\e9c1";
}
.icon-book:before {
  content: "\e95f";
}
.icon-budgets:before {
  content: "\e9c2";
}
.icon-building:before {
  content: "\e90f";
}
.icon-building2:before {
  content: "\e9db";
}
.icon-buy-investment:before {
  content: "\e93c";
}
.icon-cake-chart:before {
  content: "\e9c3";
}
.icon-calculator-big:before {
  content: "\e901";
}
.icon-calculator-small:before {
  content: "\e902";
}
.icon-calendar:before {
  content: "\e913";
}
.icon-calendar-cancelled:before {
  content: "\e910";
}
.icon-calendar-check:before {
  content: "\e911";
}
.icon-calendar-monthly:before {
  content: "\e9c4";
}
.icon-calendar-plus:before {
  content: "\e912";
}
.icon-calendar-yearly:before {
  content: "\e9cb";
}
.icon-callback:before {
  content: "\e936";
}
.icon-cash-machine:before {
  content: "\e92e";
}
.icon-category-cash:before {
  content: "\e9a5";
}
.icon-category-diverse:before {
  content: "\e9a6";
}
.icon-category-freetime:before {
  content: "\e9a7";
}
.icon-category-health:before {
  content: "\e9a8";
}
.icon-category-home:before {
  content: "\e9a9";
}
.icon-category-income:before {
  content: "\e9aa";
}
.icon-category-insurance:before {
  content: "\e9ab";
}
.icon-category-living:before {
  content: "\e900";
}
.icon-category-mobility:before {
  content: "\e9ac";
}
.icon-category-none:before {
  content: "\e9ad";
}
.icon-category-payment:before {
  content: "\e9ae";
}
.icon-category-save:before {
  content: "\e9af";
}
.icon-category-tax:before {
  content: "\e9b0";
}
.icon-category-travel:before {
  content: "\e9b1";
}
.icon-cgt:before {
  content: "\e93d";
}
.icon-change:before {
  content: "\e903";
}
.icon-check:before {
  content: "\e915";
}
.icon-check-circle:before {
  content: "\e914";
}
.icon-clear-form:before {
  content: "\e904";
}
.icon-clip-closed:before {
  content: "\e97b";
}
.icon-clip-open:before {
  content: "\e97c";
}
.icon-clock:before {
  content: "\e916";
}
.icon-clock-wip:before {
  content: "\e986";
}
.icon-close:before {
  content: "\e918";
}
.icon-close-small:before {
  content: "\e905";
}
.icon-close-circle:before {
  content: "\e917";
}
.icon-confirmation:before {
  content: "\e93e";
}
.icon-contacts:before {
  content: "\e94f";
}
.icon-copy:before {
  content: "\e950";
}
.icon-course:before {
  content: "\e919";
}
.icon-creditaccount:before {
  content: "\e951";
}
.icon-csv:before {
  content: "\e937";
}
.icon-dashboard:before {
  content: "\e93f";
}
.icon-deactivated:before {
  content: "\e98f";
}
.icon-delay:before {
  content: "\e906";
}
.icon-depot:before {
  content: "\e940";
}
.icon-disabled-adapted:before {
  content: "\e92f";
}
.icon-download:before {
  content: "\e930";
}
.icon-download-circle:before {
  content: "\e907";
}
.icon-drag-drop:before {
  content: "\e908";
}
.icon-dropdown:before {
  content: "\e91a";
}
.icon-edit:before {
  content: "\e9a2";
}
.icon-elba-webcare:before {
  content: "\e9dd";
}
.icon-expense-revenue:before {
  content: "\e9cc";
}
.icon-external-link:before {
  content: "\e93b";
}
.icon-external-product:before {
  content: "\e9b6";
}
.icon-external-product-add:before {
  content: "\e9b7";
}
.icon-fast-filter:before {
  content: "\e987";
}
.icon-fax:before {
  content: "\e931";
}
.icon-filter:before {
  content: "\e91b";
}
.icon-fine-racon:before {
  content: "\e9de";
}
.icon-folder:before {
  content: "\e91c";
}
.icon-fullscreen:before {
  content: "\e998";
}
.icon-further-offers:before {
  content: "\e990";
}
.icon-gambling:before {
  content: "\e909";
}
.icon-giroaccount:before {
  content: "\e952";
}
.icon-giroaccount-v2:before {
  content: "\e97d";
}
.icon-giroaccount-v3:before {
  content: "\e991";
}
.icon-gps:before {
  content: "\e9f6";
}
.icon-gtc:before {
  content: "\e91d";
}
.icon-hamburger:before {
  content: "\e9c5";
}
.icon-help:before {
  content: "\e91e";
}
.icon-help-filled:before {
  content: "\e90a";
}
.icon-help-no-circle:before {
  content: "\e9cd";
}
.icon-hous:before {
  content: "\e960";
}
.icon-info:before {
  content: "\e91f";
}
.icon-info-no-circle:before {
  content: "\e988";
}
.icon-inventory:before {
  content: "\e993";
}
.icon-inventory-no-border:before {
  content: "\e992";
}
.icon-investment:before {
  content: "\e941";
}
.icon-kkc-businessunit:before {
  content: "\e9cf";
}
.icon-kkc-caller:before {
  content: "\e9ec";
}
.icon-kkc-case-close:before {
  content: "\e9b8";
}
.icon-kkc-case-open:before {
  content: "\e9b9";
}
.icon-kkc-category:before {
  content: "\e9d9";
}
.icon-kkc-contacts:before {
  content: "\e9f1";
}
.icon-kkc-department:before {
  content: "\e9ba";
}
.icon-kkc-direct-dial:before {
  content: "\e9f2";
}
.icon-kkc-family:before {
  content: "\e9d0";
}
.icon-kkc-holiday:before {
  content: "\e9f4";
}
.icon-kkc-house:before {
  content: "\e9d1";
}
.icon-kkc-shop-hours:before {
  content: "\e9bb";
}
.icon-kkc-sip:before {
  content: "\e9bc";
}
.icon-kkc-smart-contacts:before {
  content: "\e9f3";
}
.icon-kkc-substitute:before {
  content: "\e9d6";
}
.icon-kkc-supervisor:before {
  content: "\e9d7";
}
.icon-leo-lukas:before {
  content: "\e9df";
}
.icon-like:before {
  content: "\ea00";
}
.icon-limit:before {
  content: "\e962";
}
.icon-list-presentation:before {
  content: "\e9d2";
}
.icon-location:before {
  content: "\e9f5";
}
.icon-lock:before {
  content: "\e953";
}
.icon-lock2:before {
  content: "\e963";
}
.icon-logout:before {
  content: "\e920";
}
.icon-mail-f:before {
  content: "\e964";
}
.icon-mail-p:before {
  content: "\e965";
}
.icon-mail-p1:before {
  content: "\e966";
}
.icon-mail-p2:before {
  content: "\e967";
}
.icon-map:before {
  content: "\e921";
}
.icon-message:before {
  content: "\e922";
}
.icon-minimize:before {
  content: "\e949";
}
.icon-minimize-wish:before {
  content: "\e984";
}
.icon-minimize-wish-v2:before {
  content: "\e994";
}
.icon-minus-circle:before {
  content: "\e9d8";
}
.icon-minus-no-circle:before {
  content: "\e9d3";
}
.icon-move:before {
  content: "\e923";
}
.icon-negative-alert:before {
  content: "\e942";
}
.icon-news-bell:before {
  content: "\e9d4";
}
.icon-new-account:before {
  content: "\e97a";
}
.icon-new-message:before {
  content: "\e932";
}
.icon-ninety-left:before {
  content: "\e9bd";
}
.icon-ninety-right:before {
  content: "\e9be";
}
.icon-oeticket:before {
  content: "\e9e0";
}
.icon-online-offering:before {
  content: "\a97f";
}
.icon-online-funds-saving:before {
  content: "\e943";
}
.icon-online-store:before {
  content: "\e924";
}
.icon-open-link:before {
  content: "\e97f";
}
.icon-orderbook:before {
  content: "\e944";
}
.icon-paging-arrow-left:before {
  content: "\e968";
}
.icon-paging-arrow-right:before {
  content: "\e969";
}
.icon-paging-double-arrow-left:before {
  content: "\e96a";
}
.icon-paging-double-arrow-right:before {
  content: "\e96b";
}
.icon-paper:before {
  content: "\e926";
}
.icon-paper-verification:before {
  content: "\e925";
}
.icon-parking:before {
  content: "\e933";
}
.icon-pause:before {
  content: "\e9ed";
}
.icon-payment-transactions:before {
  content: "\e945";
}
.icon-payout-plan:before {
  content: "\e90b";
}
.icon-pdf:before {
  content: "\e927";
}
.icon-person:before {
  content: "\e935";
}
.icon-person2:before {
  content: "\e94a";
}
.icon-phone:before {
  content: "\e929";
}
.icon-phone-f:before {
  content: "\e96c";
}
.icon-phone-filled:before {
  content: "\e9d5";
}
.icon-phone-p:before {
  content: "\e96d";
}
.icon-phone-p1:before {
  content: "\e96e";
}
.icon-phone-p2:before {
  content: "\e96f";
}
.icon-picture-download:before {
  content: "\e9f8";
}
.icon-picture-upload:before {
  content: "\e946";
}
.icon-play:before {
  content: "\e9ee";
}
.icon-plus-no-circle:before {
  content: "\e989";
}
.icon-plus-circle:before {
  content: "\e92a";
}
.icon-plus-circle-button:before {
  content: "\e9b4";
}
.icon-plus-circle-button-filled:before {
  content: "\e9b5";
}
.icon-points-navigation:before {
  content: "\e9a3";
}
.icon-portal:before {
  content: "\e970";
}
.icon-positive-alert:before {
  content: "\e954";
}
.icon-present:before {
  content: "\e94b";
}
.icon-print:before {
  content: "\e92b";
}
.icon-privacy:before {
  content: "\e92c";
}
.icon-product-community:before {
  content: "\e9c6";
}
.icon-product-single:before {
  content: "\e9c7";
}
.icon-purchase:before {
  content: "\e98a";
}
.icon-purchase-no-circle:before {
  content: "\e9c8";
}
.icon-rate:before {
  content: "\e94c";
}
.icon-ratesignal:before {
  content: "\e955";
}
.icon-rbc:before {
  content: "\e9e1";
}
.icon-representation:before {
  content: "\e94d";
}
.icon-revenue:before {
  content: "\e98b";
}
.icon-revenue-no-circle:before {
  content: "\e9c9";
}
.icon-rv-web:before {
  content: "\e9e2";
}
.icon-sale:before {
  content: "\e98c";
}
.icon-sale-no-circle:before {
  content: "\e9ca";
}
.icon-save:before {
  content: "\ea05";
}
.icon-save-up:before {
  content: "\e947";
}
.icon-search:before {
  content: "\e9a4";
}
.icon-sefeaccount:before {
  content: "\e956";
}
.icon-send:before {
  content: "\e957";
}
.icon-send-via-mail:before {
  content: "\e980";
}
.icon-service-navi:before {
  content: "\e98d";
}
.icon-service-center:before {
  content: "\e999";
}
.icon-service-center-v2:before {
  content: "\e995";
}
.icon-setting:before {
  content: "\e99a";
}
.icon-shares:before {
  content: "\e971";
}
.icon-sign:before {
  content: "\e958";
}
.icon-signed:before {
  content: "\e961";
}
.icon-site-notice:before {
  content: "\e99b";
}
.icon-smartphone:before {
  content: "\e976";
}
.icon-smartphone-f:before {
  content: "\e972";
}
.icon-smartphone-p:before {
  content: "\e973";
}
.icon-smartphone-p1:before {
  content: "\e974";
}
.icon-smartphone-p2:before {
  content: "\e975";
}
.icon-smart-bank:before {
  content: "\e9e3";
}
.icon-smart-finanzstatus:before {
  content: "\e9e4";
}
.icon-smart-formular:before {
  content: "\e9e5";
}
.icon-smart-giro:before {
  content: "\e9e6";
}
.icon-smart-kontakte:before {
  content: "\e9e7";
}
.icon-smart-kundenauskunft:before {
  content: "\e9e8";
}
.icon-smart-produktkatalog:before {
  content: "\e9e9";
}
.icon-smart-stammdaten:before {
  content: "\e9ea";
}
.icon-smart-wertpapier:before {
  content: "\e9eb";
}
.icon-sold:before {
  content: "\e977";
}
.icon-sound-level0:before {
  content: "\e9fc";
}
.icon-sound-level1:before {
  content: "\e9f0";
}
.icon-sound-level2:before {
  content: "\e9fa";
}
.icon-sound-level3:before {
  content: "\e9ef";
}
.icon-sound-off:before {
  content: "\e9fb";
}
.icon-speak-bubble:before {
  content: "\e9ce";
}
.icon-standing-order:before {
  content: "\e99c";
}
.icon-star:before {
  content: "\e934";
}
.icon-star2:before {
  content: "\e978";
}
.icon-sv:before {
  content: "\e979";
}
.icon-switch-to-website:before {
  content: "\e996";
}
.icon-template:before {
  content: "\e959";
}
.icon-ticket:before {
  content: "\e9f7";
}
.icon-transaction:before {
  content: "\e9da";
}
.icon-trash:before {
  content: "\e99d";
}
.icon-twentyfour-hours:before {
  content: "\e99e";
}
.icon-unsorted:before {
  content: "\e98e";
}
.icon-verification:before {
  content: "\e99f";
}
.icon-video:before {
  content: "\e9a0";
}
.icon-web:before {
  content: "\e928";
}
.icon-website:before {
  content: "\e997";
}
.icon-zip:before {
  content: "\e9f9";
}
.icon-zoom-in:before {
  content: "\e981";
}
.icon-zoom-out:before {
  content: "\e982";
}
.icon-zoom-reset:before {
  content: "\e983";
}
